*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-size: 16px;
}

@font-face {
  font-family: "fakt-nor";
  src: url("fonts/FaktPro-Normal.woff");
  src: url("fonts/FaktPro-Normal.woff2");
}

@font-face {
  font-family: "fakt-nor-ita";
  src: url("fonts/FaktPro-NormalItalic.woff");
  src: url("fonts/FaktPro-NormalItalic.woff2");
}

@font-face {
  font-family: "fakt-med";
  src: url("fonts/FaktPro-Medium.woff");
  src: url("fonts/FaktPro-Medium.woff2");
}

@font-face {
  font-family: "fakt-med-ita";
  src: url("fonts/FaktPro-MediumItalic.woff");
  src: url("fonts/FaktPro-MediumItalic.woff2");
}

@font-face {
  font-family: "times-rom";
  src: url("fonts/TimesNewRomanMTStd.woff");
  src: url("fonts/TimesNewRomanMTStd.woff2");
}

@font-face {
  font-family: "times-rom-ita";
  src: url("fonts/TimesNewRomanMTStd-Italic.woff");
  src: url("fonts/TimesNewRomanMTStd-Italic.woff2");
}

@font-face {
  font-family: "times-con";
  src: url("fonts/TimesNewRomanMTStd-Cond.woff");
  src: url("fonts/TimesNewRomanMTStd-Cond.woff2");
}

@font-face {
  font-family: "times-con-ita";
  src: url("fonts/TimesNewRomanMTStd-CondIt.woff");
  src: url("fonts/TimesNewRomanMTStd-CondIt.woff2");
}

@font-face {
  font-family: "times-bol-con";
  src: url("fonts/TTimesNewRomanMTStd-BoldCond.woff");
  src: url("fonts/TimesNewRomanMTStd-BoldCond.woff2");
}

@font-face {
  font-family: "times-sem";
  src: url("fonts/TimesLTStd-Semibold.woff");
  src: url("fonts/TimesLTStd-Semibold.woff");
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-inline-start: 0px;
}

li {
  list-style: none;
  list-style-position: initial;
  list-style-image: initial;
  list-style-type: none;
}

@media only screen and (min-width: 1px) {
  .location-container {
    background: white;
    color: black;
  }

  .location-content {
    font-family: "fakt-med";
    font-size: 0.8rem;
    text-align: center;
    padding-top: 0.4rem;
    padding-bottom: 0.3rem;
  }

  #header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0rem;
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 1.2rem;
    padding-bottom: 0.9rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
  }

  #header-container:hover .name-center {
    /* width: 10%; */
  }

  .name-container {
    display: flex;
    justify-content: left;
    font-family: "fakt-nor";
    font-size: 2.7rem;
  }

  .name-left {}

  .name-center {
    display: block;
    margin-left: 0.2rem;
    margin-right: -0.2rem;
    margin-bottom: 1rem;
    border-bottom: 3px solid;
    width: 55%;
    /* transition: width 4s; */
  }

  .name-right {}

  .targetDiv {
    display: block;
  }

  .navigation-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    font-family: "fakt-med";
    font-size: 1.2rem;
  }

  .navigation-item {
    text-align: left;
    padding-top: 0.6rem;
    padding-bottom: 1.8rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    font-family: "fakt-nor";
    font-size: 1rem;
    line-height: 1.2rem;
  }

  i.navigation-item {
    font-family: "times-rom-ita";
  }

  .navigation-image {
    background: none;
    width: 50%;
    mix-blend-mode: multiply;
  }

  .button {
    background: none;
    margin: 2px;
    padding: 5px 12px 3px 12px;
    border: 2px solid;
    border-radius: 5rem;
    font-family: "fakt-med";
    font-size: 1rem;
  }

  .button:hover {
    color: white;
    border-color: white;
  }

  button:focus {
    color: white;
    border-color: white;
    outline: 0;
  }

  #button-margin-header {
    margin-top: 0.6rem;
    margin-right: 0.45rem;
  }

  #button-radio {
    display: none;
  }

  #button-margin-footer {
    margin-bottom: 0.6rem;
    margin-right: 0.6rem;
  }

  .main-container {
    display: grid;
    height: auto;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    margin-bottom: 1.2rem;
    grid-gap: 4px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(12, auto);
    grid-template-areas:
      "project1"
      "project2"
      "project4"
      "project3"
      "project5"
      "project6"
  }

  .figure {
    position: relative;
    background: none;
    width: 100%;
  }

  .figure img.image-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .1s;
  }

  .figure:hover img.image-hover {
    opacity: 1;
  }

  figcaption {
    line-height: 1;
    display: flex;
    justify-content: space-between;
  }

  figcaption span {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    font-family: "fakt-nor";
    font-size: 1.2rem;
  }

  nav {
    background: none;
  }

  #project1 {
    background: none;
    grid-area: project1;
  }

  #project2 {
    background: none;
    grid-area: project2;
  }

  #project3 {
    background: none;
    grid-area: project3;
  }

  #project4 {
    background: none;
    grid-area: project4;
  }

  #project5 {
    background: none;
    grid-area: project5;
  }

  #project6 {
    background: none;
    grid-area: project6;
  }

  #project7 {
    background: none;
    grid-area: project7;
  }

  #project8 {
    background: none;
    grid-area: project8;
  }

  #project9 {
    background: none;
    grid-area: project9;
  }

  #project10 {
    background: none;
    grid-area: project10;
  }

  #project11 {
    background: none;
    grid-area: project11;
  }

  #project12 {
    background: none;
    grid-area: project12;
  }

  .follow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
    padding: 2.4rem;
    padding-top: 3rem;
  }

  .follow-button {
    font-family: "times-con";
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
  }

  .follow-button:hover {
    color: #dcdcdc;
  }

  footer {
    background: black;
    color: white;
    font-family: "fakt-nor";
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .footer-container {
    display: grid;
    align-self: flex-start;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    grid-gap: 1.2rem;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto auto auto;
    grid-template-areas:
      "footer-projects"
      "footer-content"
      "footer-image"
      "footer-contact"
      "footer-adress"
      "footer-socials"
  }

  #footer-content {
    grid-area: footer-projects;
  }

  #footer-content {
    grid-area: footer-content;
  }

  #footer-adress {
    grid-area: footer-adress;
  }

  #footer-contact {
    grid-area: footer-contact;
  }

  #footer-image {
    grid-area: footer-image;
  }

  #footer-socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: none;
    padding-top: 1.2rem;
    border-top: 2px solid;
    grid-area: footer-socials;
  }

  #footer-figure {
    border: 2px solid;
  }

  .button-footer {
    background: none;
    padding: 5px 12px 3px 12px;
    border: 2px solid;
    border-radius: 5rem;
    font-family: "fakt-med";
    font-size: 1rem;
    ;
    color: white;
    border-color: white;
  }

  .button-footer:hover {
    color: #dcdcdc;
    border-color: #dcdcdc;
  }
}

@media only screen and (min-width: 375px) {
  .navigation-item {
    font-family: "fakt-nor";
    font-size: 1.2rem;
  }

  #button-radio {
    display: block;
    margin-top: 0.6rem;
  }
}

@media only screen and (min-width: 640px) {
  #header-container {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 1.8rem;
    padding-bottom: 0.6rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }

  .main-container {
    margin-left: 4%;
    margin-right: 4%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
      "project1 project2"
      "project3 project4"
      "project5 project6"
      "project7 project8"
      "project9 project10"
      "project11 project12"
  }

  .navigation-item {
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 0.6rem;
    padding-bottom: 1.8rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    font-family: "fakt-nor";
    font-size: 1.2rem;
    line-height: 1.4rem;
  }

  .targetDiv {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .name-container {}

  .name-right {
    display: block;
  }

  .button {
    background: none;
    padding: 5px 14px 3px 14px;
    border: 2px solid;
    border-radius: 5rem;
    font-family: "fakt-med";
    font-size: 1.2rem;
  }

  .navigation-item {
    column-count: 2;
  }

  .name-container {
    width: 50%;
  }

  .follow-container {
    display: flex;
    padding: 3rem;
    padding-top: 3.6rem;
  }

  .follow-button {
    font-family: "times-con";
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
  }

  .footer-container {
    display: grid;
    align-self: flex-start;
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 3.6rem;
    padding-bottom: 2.4rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    grid-gap: 1.2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto 1fr auto;
    grid-template-areas:
      "footer-content footer-content footer-projects footer-projects"
      "footer-image footer-image footer-projects footer-projects"
      "footer-contact footer-contact footer-projects footer-projects"
      "footer-adress footer-adress footer-projects footer-projects"
      "footer-socials footer-socials footer-socials footer-socials"
  }

  .button-footer {
    background: none;
    padding: 5px 14px 3px 14px;
    border: 2px solid;
    border-radius: 5rem;
    font-family: "fakt-med";
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1920px) {
  .name-container {
    width: 33%;
  }

  .main-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "project1 project2 project4"
      "project3 project5 project6"
  }

  .navigation-item {
    column-count: 3;
  }
}
