*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

main {
  background: white;
}

@media only screen and (min-width: 1px) {
  .project-title {
    font-family: "fakt-nor";
    font-size: 2.4rem;
    letter-spacing: -1px;
    line-height: 2.4rem;
    text-align: left;
    padding-top: 1.2rem;
    padding-bottom: 0.9rem;
  }

  .cover-container {
    max-height: 30rem;
    background: black;
  }

  #cover-container-background-1 {
    background: #2d7ff6;
  }

  #cover-image {
    max-width: 100%;
    max-height: 30rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .projects-follow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: black;
    padding: 2.4rem;
    padding-top: 3rem;
  }

  .projects-follow-button {
    font-family: "times-con";
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
  }

  .projects-follow-button:hover {
    color: white;
  }

  .project-text-container {
    display: grid;
    padding-top: 0.6rem;
    padding-bottom: 2.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    grid-gap: 4px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "project-title"
      "project-text-subcontainer"
  }

  .project-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 0.6rem;
    padding-bottom: 1.8rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
  }


  #project-title {
    grid-area: project-title;
  }

  #project-text-subcontainer {
    grid-area: project-text-subcontainer;
  }

  #project-text-subcontainer-empty {
    grid-area: project-text-subcontainer-empty;
  }

  .button-project {
    background: none;
    margin: 2px;
    margin-left: calc(0.3rem);
    margin-right: calc(0.3rem);
    padding: 5px 12px 3px 12px;
    border: 2px solid;
    border-radius: 5rem;
    font-family: "fakt-med";
    font-size: 1rem;
  }

  .project1-container {
    display: grid;
    height: auto;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    padding-bottom: 1.2rem;
    grid-gap: 0.6rem;
    grid-template-columns: 100%;
    grid-template-rows: repeat(14, auto);
    grid-template-areas:
      "project-image-1"
      "project-image-2"
      "project-image-3"
      "project-image-4"
      "project-image-5"
      "project-image-6"
      "project-image-7"
      "project-image-8"
      "project-image-9"
      "project-image-10"
      "project-image-11"
      "project-image-12"
      "project-image-13"
      "project-image-14"
  }

  .project2-container {
    display: grid;
    height: auto;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    padding-bottom: 1.2rem;
    grid-gap: 0.6rem;
    grid-template-columns: 100%;
    grid-template-rows: repeat(10, auto);
    grid-template-areas:
      "project-image-1"
      "project-image-2"
      "project-image-3"
      "project-image-4"
      "project-image-5"
      "project-image-6"
      "project-image-7"
      "project-image-8"
      "project-image-9"
      "project-image-10"
  }

  .project3-container {
    display: grid;
    height: auto;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    padding-bottom: 1.2rem;
    grid-gap: 0.6rem;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "project-image-1"
      "project-image-2"
      "project-image-3"
  }

  #project-image-1 {
    grid-area: project-image-1;
  }

  #project-image-2 {
    grid-area: project-image-2;
  }

  #project-image-3 {
    grid-area: project-image-3;
  }

  #project-image-4 {
    grid-area: project-image-4;
  }

  #project-image-5 {
    grid-area: project-image-5;
  }

  #project-image-6 {
    grid-area: project-image-6;
  }

  #project-image-7 {
    grid-area: project-image-7;
  }

  #project-image-8 {
    grid-area: project-image-8;
  }

  #project-image-9 {
    grid-area: project-image-9;
  }

  #project-image-10 {
    grid-area: project-image-10;
  }

  #project-image-11 {
    grid-area: project-image-11;
  }

  #project-image-12 {
    grid-area: project-image-12;
  }

  #project-image-13 {
    grid-area: project-image-13;
  }

  #project-image-14 {
    grid-area: project-image-14;
  }
}

@media only screen and (min-width: 375px) {
  .project-title {
    font-size: 2.7rem;
    letter-spacing: -1px;
  }
}

@media only screen and (min-width: 640px) {
  .projects-follow-container {
    display: flex;
    padding: 3rem;
    padding-top: 3.6rem;
  }

  .projects-follow-button {
    font-family: "times-con";
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
  }

  .project-title {
    font-family: "fakt-nor";
    font-size: 2.7rem;
    line-height: 2.6rem;
    padding-top: 1.8rem;
  }

  .project-text-container {
    margin-left: 4vw;
    margin-right: 4vw;
    padding-bottom: 2.4rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
  }

  #project-text {
    font-family: "fakt-nor";
    font-size: 1.2rem;
    line-height: normal;
    text-align: left;
  }

  .project-buttons-container {
    margin-left: 4vw;
    margin-right: 4vw;
  }

  .project1-container {
    display: grid;
    height: auto;
    margin-left: 4vw;
    margin-right: 4vw;
    padding-bottom: 1.2rem;
    grid-gap: 4px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
      "project-image-1 project-image-8"
      "project-image-2 project-image-9"
      "project-image-3 project-image-3"
      "project-image-4 project-image-10"
      "project-image-5 project-image-11"
      "project-image-13 project-image-13"
      "project-image-6 project-image-12"
      "project-image-7 project-image-14"
  }

  .project2-container {
    display: grid;
    height: auto;
    margin-left: 4vw;
    margin-right: 4vw;
    padding-bottom: 1.2rem;
    grid-gap: 4px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
      "project-image-1 project-image-2"
      "project-image-3 project-image-4"
      "project-image-5 project-image-5"
      "project-image-6 project-image-7"
      "project-image-8 project-image-8"
      "project-image-9 project-image-10"
  }

  .project3-container {
    display: grid;
    height: auto;
    margin-left: 4vw;
    margin-right: 4vw;
    padding-bottom: 1.2rem;
    grid-gap: 4px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "project-image-1 project-image-1"
      "project-image-2 project-image-3"
  }
}

@media only screen and (min-width: 960px) {
  #project-text-subcontainer {
    column-count: 2;
    column-gap: 1.8rem;
  }

  .button-project {
    background: none;
    padding: 5px 14px 3px 14px;
    border: 2px solid;
    border-radius: 5rem;
    /* BUTTON VERGROTING  */
    font-family: "fakt-med";
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1440px) {
}

@media only screen and (min-width: 1920px) {
  .cover-container {
    max-height: 36rem;
    background: black;
  }

  #cover-image {
    max-height: 36rem;
  }

  .project-text-container {
    margin-left: 8vw;
    margin-right: 8vw;
    column-gap: 1.8rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "project-title project-title project-title"
      "project-text-subcontainer project-text-subcontainer-empty project-text-subcontainer-empty"
  }

  #project-text-subcontainer {
    column-count: 1;
  }

  .project1-container {
    display: grid;
    height: auto;
    margin-left: 8vw;
    margin-right: 8vw;
    padding-bottom: 1.2rem;
    grid-gap: 4px;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "project-image-1 project-image-1 project-image-1 project-image-2 project-image-2 project-image-2"
      "project-image-3 project-image-3 project-image-4 project-image-4 project-image-5 project-image-5"
      "project-image-6 project-image-6 project-image-6 project-image-7 project-image-7 project-image-7"
      "project-image-8 project-image-8 project-image-8 project-image-9 project-image-9 project-image-9"
      "project-image-10 project-image-10 project-image-11 project-image-11 project-image-12 project-image-12"
      "project-image-13 project-image-13 project-image-13 project-image-14 project-image-14 project-image-14"
  }

  .project2-container {
    display: grid;
    height: auto;
    margin-left: 8vw;
    margin-right: 8vw;
    padding-bottom: 1.2rem;
    grid-gap: 4px;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "project-image-1 project-image-1 project-image-2 project-image-2 project-image-5 project-image-5"
      "project-image-3 project-image-3 project-image-3 project-image-6 project-image-6 project-image-6"
      "project-image-9 project-image-9 project-image-9 project-image-8 project-image-8 project-image-8"
      "project-image-7 project-image-7 project-image-4 project-image-4 project-image-10 project-image-10"
  }

  .project3-container {
    display: grid;
    height: auto;
    margin-left: 8vw;
    margin-right: 8vw;
    padding-bottom: 1.2rem;
    grid-gap: 4px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(1, auto);
    grid-template-areas:
      "project-image-2 project-image-1 project-image-3"
  }
}
