*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

main {
  background: white;
}

@media only screen and (min-width: 1px) {
  .navigation-title2 {
    font-family: "fakt-med";
    font-size: 1.2rem;
    /* line-height: 2.6rem; */
    text-align: left;
    padding-bottom: 0.6rem;
  }

  .cover-container {
    max-height: 30rem;
    background: black;
  }

  .cover-container-background1 {
    background: #2d7ff6;
  }

  #cover-image {
    max-width: 100%;
    max-height: 30rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .projects-follow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: black;
    padding: 2.4rem;
    padding-top: 3rem;
  }

  .projects-follow-button {
    font-family: "times-con";
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
  }

  .projects-follow-button:hover {
    color: white;
  }
}

@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 640px) {
  .projects-follow-container {
    display: flex;
    padding: 3rem;
    padding-top: 3.6rem;
  }

  .projects-follow-button {
    font-family: "times-con";
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
  }
}

@media only screen and (min-width: 960px) {
}

@media only screen and (min-width: 1280px) {
}

@media only screen and (min-width: 1920px) {

}
