@font-face {
    font-family: 'URWClarendonTLigNar';
    src: url('URWClarendonT-LighNarrObli.woff2') format('woff2'),
        url('URWClarendonT-LighNarrObli.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'URWClarendonTLigNar';
    src: url('URWClarendonT-LighNarr.woff2') format('woff2'),
        url('URWClarendonT-LighNarr.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'URWClarendonTLigExtNar';
    src: url('URWClarendonT-LighExtrNarr.woff2') format('woff2'),
        url('URWClarendonT-LighExtrNarr.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

